
<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <div class="sidebar">
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="https://i.postimg.cc/pdDfB0xp/Admin-LTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        </div>
        <div class="info">
          <a href="#" class="d-block">Admin</a>
        </div>
      </div>

      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


            <li class="nav-header">Quản lý điểm</li>
            <li class="nav-item">
              <a href="/diem" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>
                  Điểm
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/diem/add" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>
                  Thêm điểm
                </p>
              </a>
            </li>

            <li class="nav-header">Quản lý sinh viên</li>
            <li class="nav-item">
              <a href="/sinhvien" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>
                  Sinh viên
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/sinhvien/add" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>
                  Thêm sinh viên
                </p>
              </a>
            </li>

            <li class="nav-header">Quản lý môn học</li>
            <li class="nav-item">
              <a href="/monhoc" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>
                  Môn học
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/monhoc/add" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>
                  Thêm môn học
                </p>
              </a>
            </li>

            <li class="nav-header">Quản lý hệ ĐT</li>
            <li class="nav-item">
              <a href="/heDT" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>
                  Hệ ĐT
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/heDT/add" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>
                  Thêm hệ ĐT
                </p>
              </a>
            </li>

            <li class="nav-header">Quản lý khóa</li>
            <li class="nav-item">
              <a href="/khoahoc" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>
                  Khóa
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/khoahoc/add" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>
                  Thêm khóa
                </p>
              </a>
            </li>

            <li class="nav-header">Quản lý ngành</li>
            <li class="nav-item">
              <a href="/khoa" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>
                  Ngành
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/khoa/add" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>
                  Thêm ngành
                </p>
              </a>
            </li>

            <li class="nav-header">Quản lý lớp</li>
            <li class="nav-item">
              <a href="/lop" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>
                  Lớp
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/lop/add" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>
                  Thêm lớp
                </p>
              </a>
            </li>

            <li class="nav-header">Account</li>
            <li class="nav-item">
              <a href="/auth/logout" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>
                  Đăng xuất
                </p>
              </a>
            </li>

        </ul>
      </nav>
    </div>
  </aside>